@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.title {
  @apply text-3xl;
}

button {
  @apply mt-7 p-2 px-5 rounded-3xl text-sm shadow-lg bg-slate-800 text-white;
}

.label-inp {
  @apply relative w-full mb-6 md:mb-12;
  .anim-label {
    @apply text-xs -top-2 md:-top-6;
  }
  input,
  textarea {
    @apply border-b border-dashed border-slate-400 p-1 pl-0 w-full outline-none;
    &:focus {
      @apply border-dashed;
    }
    &:focus ~ label {
      @extend .anim-label;
    }
    &:valid ~ label {
      @extend .anim-label;
      // @apply -top-6;
    }
  }
  label {
    @apply text-[11px] md:text-sm absolute text-slate-500 top-0 left-0 pointer-events-none;
    transition: all 0.25s ease-in-out;
  }
}

* {
  box-sizing: border-box;
}
