@import "./fonts";
@import "./globals";
@import "./header";

body {
  font-family: $montserrat;
  font-stretch: 111%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.projects-wrapper {
  & > :nth-child(1),
  & > :nth-child(4),
  & > :nth-child(7) {
    @apply row-span-2;
  }
}
.project {
  @apply relative;
  //   &:hover {
  //     .shape {
  //       @apply translate-x-0;
  //     }
  //   }
  //   .shape {
  //     @apply absolute -translate-x-full w-full h-full top-0 left-0 bg-white/70 backdrop-blur-sm;
  //     transition: all 0.7 ease-in-out;
  //   }
}
